* {
  margin: 0;
  padding: 0;
}

body,
button {
  background-color: #dfd0cb;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list,
h3,
button,
table,
input,
.radio-btn,
label {
  color: #66452a;
}
.wrapper,
input {
  background-color: #cbb19b;
}
h3 {
  margin: 1rem;
}

.list {
  margin: 0 0 1rem 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 1rem;
  border-radius: 5%;
}

input {
  border: 0;
  border-bottom: 0.01rem #66452a solid;
  padding: 0.4rem;
  outline: none;
}

.radio-btn {
  display: flex;
  justify-content: space-between;
}

table {
  width: 40%;
  margin: 1rem auto;
  border-collapse: collapse;
  text-align: center;
}

button {
  border: 0;
  padding: 0.7rem 2rem;
  align-self: center;
}

th {
  border-bottom: 0.1rem #66452a solid;
}

tr {
  text-align: left;
}

tbody tr:first-child,
tr:nth-child(3) {
  background-color: #ddbda4;
}

.background-table {
  background-color: #ddbda4;
}

th,
td {
  padding: 0.5rem;
}

.error {
  color: red;
}
