* {
  margin: 0;
  padding: 0;
}

body,
.form-1-btn,
.form-2-btn {
  background-color: #dfd0cb;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  margin: auto;
}

.form-2,
.form-1,
.description,
input,
.value-display,
input:focus {
  background-color: #cbb19b;
}

.form-2 {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 2rem;
  margin-top: 5.12rem;
}

.form-2 .box {
  margin-top: 1rem;
}

.form-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 40%));
  column-gap: 0;
  gap: 2rem;
  padding: 2rem;
  margin-right: 0.5rem;
}

h3,
.description,
.form-1-btn,
.form-2-btn,
label,
input,
input:focus,
.toggle-to-signIn-page,
.value-display,
a {
  color: #66452a;
}

h3 {
  text-align: center;
}

.description {
  width: 91%;
  margin: 1rem 0;
  padding: 1rem;
}

.form-1-btn,
.form-2-btn {
  width: 8rem;
  height: 3rem;
  border: 0;
  align-self: flex-start;
}

label {
  font-size: small;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  width: 90%;
  border: none;
  border-bottom: 0.1rem #66452a solid;
  outline: none;
}

.toggle-to-signIn-page {
  grid-row: 6/7;
  grid-column: 1/3;
}

.toggle-to-signIn-page a {
  text-decoration: none;
}

.form-2-btn,
.log-pass,
.log-username {
  margin-top: 1rem;
}

.value-display {
  width: 91%;
  margin: 1rem 0 1rem 0;
  padding: 1rem 1rem 0 1rem;
}

.error-pass {
  color: red;
  padding: 1rem 1rem 1rem 0;
}
.success-pass {
  color: green;
  padding: 1rem 1rem 1rem 0;
}

@media (max-width: 986px) {
  body {
    display: block;
  }
  .wrapper {
    display: block;
  }

  .form-1 {
    display: block;
  }

  .form-2 {
    display: block;
  }

  .box {
    margin-top: 1rem;
  }
}
